{% extends 'base.html.twig' %}

{% block title %}
    Liste des ordinateurs
{% endblock %}

{% block body %}
    <a href="{{ path('computer_new') }}">Créer un nouvel ordinateur</a>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Type</th>
            <th>Prix</th>
            <th>Créé le</th>
            <th>Mise à jour le</th>
            <th>Périphériques associés</th>
            <th>Composants associés</th>
            <th>Actions</th>
        </tr>
        {% for computer in computers %}
            <tr>
                <td>{{ computer.id }}</td>
                <td>{{ computer.name }}</td>
                <td>{{ computer.description }}</td>
                <td>{{ computer.typeLabel }}</td>
                <td>{{ computer.price|number_format(2, ',', ' ') }}€</td>
                <td>{{ computer.createdAt|date('d/m/Y H:i:s') }}</td>
                <td>{{ computer.UpdatedAt|date('d/m/Y H:i:s') }}</td>
                <td>
                    {% for device in computer.devices %}
                        {{ device.name }} <br />
                    {% endfor %}
                </td>
                <td>
                    {% for component in computer.components %}
                        {{ component.name }} <br />
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('computer_edit', {
                        id: computer.id,
                    }) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('computer_remove', {
                        id: computer.id,
                    }) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('computer_new') }}">Créer un nouvel ordinateur</a>
{% endblock %}
