{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}

        {{ form_row(form.type, {
            'attr': {
                'data-select2': true,
            }
        }) }}
        {{ form_row(form.description) }}
        {{ form_row(form.components) }}
        {{ form_row(form.devices) }}

        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}

{% block title %}

{% endblock %}

