{% extends 'base.html.twig' %}

{% block title %}
    Liste des composants
{% endblock %}

{% block body %}
    <a href="{{ path('component_new') }}">Créer un nouveau composant</a>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Marque</th>
            <th>Type</th>
            <th>Prix</th>
            <th>Créé le</th>
            <th>Mise à jour le</th>
            <th>Ordinateurs associés</th>
            <th>Actions</th>
        </tr>
        {% for component in components %}
            <tr>
                <td>{{ component.id }}</td>
                <td>{{ component.name }}</td>
                <td>{{ component.brand }}</td>
                <td>{{ component.typeLabel }}</td>
                <td>{{ component.realPrice|number_format(2, ',', ' ') }}€</td>
                <td>{{ component.createdAt|date('d/m/Y H:i:s') }}</td>
                <td>{{ component.UpdatedAt|date('d/m/Y H:i:s') }}</td>
                <td>
                    {% for computer in component.computers %}
                        {{ computer.name }} <br />
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('component_edit', {
                        id: component.id,
                    }) }}" class="btn btn-primary">
                        Modifier
                    </a>
                    <a href="{{ path('component_remove', {
                        id: component.id,
                    }) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ path('component_new') }}">Créer un nouveau composant</a>
{% endblock %}
